extends ./_base/_layout

append vars
  -
    page.id = 'top'

    page.title = ''
    page.description = ''
    page.keywords = ''

    page.ogpUrl = ''
    page.ogpTitle = ''
    page.ogpDescription = ''
    page.ogpImage = ''
    page.ogpSiteName = ''
    page.ogpType = ''
    page.ogpLocale = ''
    page.ogpAppID = ''

    // page.styles = [CSS_PATH + 'top.css']
    // page.scripts = [JS_PATH + 'top.js']


block content
  //h1 DemoPage

    if TARGETTYPE == 'development'
      p.mode.mode-development development
    if TARGETTYPE == 'stage'
      p.mode.mode-stage stage
    if TARGETTYPE == 'production'
      p.mode.mode-production production

    figure.img
      img(src = IMAGES_PATH + "test/test.jpg")

    #youtube

    ul
      li
        a.button.is-large.js-shareSNS-facebook(href="#" data-url="https://www.yahoo.co.jp/") Facebook
      li
        a.button.is-large.js-shareSNS-google(href="#" data-url="https://www.yahoo.co.jp/") Google＋
      li
        a.button.is-large.js-shareSNS-twitter(href="#" data-url="https://www.yahoo.co.jp/" data-text="シェア文言１" data-hash="ハッシュ１") Twitter１
      li
        a.button.is-large.js-tw(href="#" data-url="https://www.yahoo.co.jp/" data-text="シェア文言２" data-hash="ハッシュ２") Twitter２
      li
        a.button.is-large(href="bulma").js-shareSNS-twitter BlumaTest
      li
        a.button.is-large(href="contact") CONTACT
        br

  br
  br
  br
  br
  #app.
    {{ message }}
  br
  br
  br
  br
  #app2
    p Length: {{ length }}
    ul
      li( v-for="(item, i) in list" :key="item") {{ item }}
        button( @click="list.splice(i, 1)") remove
    button( @click="addItem") add