$targettype: $TARGETTYPE;
$page_class: page-top;
$imgPath: $IMAGES_PATH;

.#{$page_class} {
  // font-size: 1.5rem;
  // background: url($imgPath + 'testn.jpg' ) ;
  .l-main {
    width: 980px;
    margin: 0 auto;
    @include mq-sp {
      width: 100%;
    }
  }

  h1 {
    font-size: 48px;
    @include lh_em(48 , 64);
    @include mq-sp {
      @include fz_vw(48);
    }
  }

  .mode {
    font-size: 20px;
    line-height: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    margin: 10px auto;
    text-align: center;

    &-development {
      background: yellow;
    }

    &-stage {
      background: rgb(71, 216, 255);
    }

    &-production {
      background: rgb(119, 88, 207);
    }
    @include mq-sp {
      @include fz_vw(20);
    }

    &-css {
      position: relative;

      &:before {
        content: $targettype;
      }
    }

    @if $targettype == "development" {
      &-css {
        background: yellow;
      }
    }

    @if $targettype == "stage" {
      &-css {
        background: rgb(71, 216, 255);
      }
    }

    @if $targettype == "production" {
      &-css {
        background: rgb(119, 88, 207);
      }
    }
  }

  .img img {
    width: 500px;
    padding: 30px 0;
    @include mq-sp {
      width: 100%;
    }
  }

  ul {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
  }

  // Swiper
  .swiper-container {
    width: 600px;
    height: 300px;

    img {
      width: 100%;
    }
  }
}