extends ./_base/_layout

append vars
  -
    page.id = 'top'

    page.title = ''
    page.description = ''
    page.keywords = ''

    page.ogpUrl = ''
    page.ogpTitle = ''
    page.ogpDescription = ''
    page.ogpImage = ''
    page.ogpSiteName = ''
    page.ogpType = ''
    page.ogpLocale = ''
    page.ogpAppID = ''

    // page.styles = [CSS_PATH + 'top.css']
    // page.scripts = [JS_PATH + 'top.js']


block content
  h1 Pug - node template engine
  #container.col
    if youAreUsingPug
      p You are amazing
    else
      p Get on it!
    p.
      Pug is a terse and simple templating language with
      strong focus on performance and powerful features.2
    #youtube

    img(src = IMAGES_PATH + "/test/test.jpg")